.header{
    background:#2E8B57;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4%;
    padding-right: 3%;

}
 a{
    text-decoration: none;
    color: #fff;
}
.logo{
   font-weight: 600;
   width: 88%;
   float: left;
   font-size : 1.8em;
}
.bar{
    height: 5px;
    width: 35px;
    background: #fff;
    margin: 6px 0;
}
.mobile-menu{
    width: 10%;
    float: right;
    cursor: pointer;
}
.nav-bar ul{
    list-style: none;
}
.nav-bar ul li{
    padding-top:10px;
    font-size:1.2em;
}
.nav-bar ul li a:hover{
    border-bottom : 2px solid #fff;
}
.hide{
    display: none;
}

/*For desktops */

@media only screen and (min-width:769px){

    .header{
        padding-left: 8%;
    }
    .mobile-menu{
        display: none;
    }
    .nav-bar ul li{
        display: inline;
        line-height: 40px;
        font-size: 1.4em;
    }
    .nav-bar ul li a{
        padding-right: 4%;
        padding-left: 4%;
    }
   
    .nav-bar{
        display: block;
        width: 50%;
        float: right;
    }
    .logo-bar{
        width: 50%;
        float: left;
    }
    
    


}