.header{
    background:#2E8B57;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4%;
    padding-right: 3%;
    position: sticky;
    top:0;
    z-index: 1;

}
 a{
    text-decoration: none;
    color: #fff;
}
.logo{
   font-weight: 600;
   letter-spacing: 0.01em;
   font-size : 1.5em;
   width: 88%;
   float: left;
}
.bar{
    height: 3px;
    width: 35px;
    background: #fff;
    margin: 6px 0;
}
.mobile-menu{
    width: 10%;
    float: right;

    cursor: pointer;
}
.nav-bar ul{
    list-style: none;
    line-height: 2em;

}
.nav-bar ul li a{
    padding-top:10px;
    font-size:1em;
}
.nav-bar ul li a:hover{
    border-bottom : 2px solid #fff;
}
.hide{
    display: none;
}
/* For tablets */
@media only screen and (min-width : 600px){
    .logo{
        font-size : 1.5em;
    }
    .bar{
        height: 5px;
    }
    
}

/*For desktops */

@media only screen and (min-width:769px){

    .header{
        padding-left: 8%;
    }
    .mobile-menu{
        display: none;
    }
    .nav-bar ul li{
        display: inline;
        line-height: 30px;
        font-size: 1.4em;
    }
    .nav-bar ul li a{
        padding-right: 4%;
        padding-left: 4%;
    }
   
    .nav-bar{
        display: block;
        width: 70%;
        float: left;
    }
    .logo-bar{
        width: 30%;
        float: left;
    }
    
}