.post-container h2{
    margin-top: 20px;
    padding:20px 0 14px 0px;
    font-size: 2em;
    font-family: 'Lora';
    letter-spacing: 0.03em;
    word-spacing: 0.05em;
}
.date{
    display: block;
    margin-bottom: 30px;
}
.post-container p{
    padding:15px 15px 15px 0;
    line-height: 1.5em;
    font-size:1.3em;

}

.list{
    list-style: none;
    line-height: 2em;
    font-size:1.3em;
}
.section-heading{
    padding: 50px 0 10px 0;
    font-size: 1.6em;
}
.post-container a:hover{
  text-decoration: underline;

}
.post-container{
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.main-container a{
    color: brown;
    text-decoration: underline;
}
.info{
    padding-top: 50px;
    font-weight: 600;
    font-size: 1.2em;
}

.border{
    border-bottom: 1px solid #000;
    width:98%;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0.3;
    
}
.border-footer{
    opacity: 0.1;

}
.smaller{
    font-size: 1.3em;
}
.italics{
    font-style: italic;
}
.center{
    text-align: center;
}
.blue{
    color: blue;
}
.bold{
    font-weight: bold;
}
.red{
    color: red;
}
.green{
   color : green;
}

@media only screen and (min-width:600px){
    .post-container{
        width:98%;
        margin: 0 auto;
        margin-top: 5px;
        
 }
 .post-container h1{
     padding-top: 30px;
 }
}



@media only screen and (min-width:769px){
    .post-container{
        width:60%;
        margin: 0 auto;
        margin-top: 5px;
        padding-bottom: 50px;

        
 }
 .post-container h1{
     padding-top: 40px;
 }
}