.post-container{
    margin-top: 120px;
    /*  */
}

.post-container h1{
    padding:60px 0 14px 0px;
    font-size: 2em;
    font-family: 'Lora';
    letter-spacing: 0.03em;
    word-spacing: 0.05em;
}
.date{
    display: block;
    margin-bottom: 30px;
}
.post-container p{
    padding:15px 15px 15px 0;
    line-height: 1.5em;
    font-size:1.3em;

}
.list{
    list-style: none;
    line-height: 2em;
    font-size:1.2em;
}
.section-heading{
    padding: 50px 0 10px 0;
    font-size: 1.6em;
}
.post-container a:hover{
  text-decoration: underline;

}
.post-container{
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.recent{
    padding:20px 20px 30px 20px;
    margin-bottom: 15px;
}
.recent ul li:first-child{
    padding-top:8px;
    padding-bottom: 10px;
}
.recent ul li{
    padding-top: 10px;
}
.recent ul li a{
    color:blue;
    text-decoration: underline;
}
.main-container a{
    color: brown;
    text-decoration: underline;
}
.right-bar ul {
    list-style: none;
}
.info{
    padding-top: 50px;
    font-weight: 600;
    font-size: 1.2em;
}
.blue{
    color: blue;
}
.border{
    border-bottom: 1px solid #000;
    width:98%;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0.3;
    
}

@media only screen and (min-width:600px){
    .post-container{
        width:98%;
        margin: 0 auto;
        margin-top: 5px;
        
 }
}



@media only screen and (min-width:768px){
    .post-container{
        width:60%;
        margin: 0 auto;
        margin-top: 5px;
        padding-bottom: 50px;

        
 }
}