.info{
    padding-top: 50px;
    font-weight: 600;
    font-size: 1.2em;
}
.border{
    border-bottom: 1px solid #000;
    width:98%;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0.3;
    
}
.postcard-wrapper:hover .post-image{
   color : red;
}

.postcard-wrapper{
    
    width:90%;
    margin: 0 auto; 
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .postcard-wrapper:first-child{
    margin-top: 60px;
  }
  .post-image{
      height: 200px;
      /* border-radius: 3px; */
      position: relative;
      color:white;
      font-weight: bold;
      text-align: center;
      line-height: 200px;
      font-size: 64px;
      letter-spacing: 0.1em;      
  }
  .js-post-image{
    background:#4B3621;
    
  }
  .java-post-image{
   background:#3B3C36;
  }
  .git-post-image{
    background: #343434;
  }
  .oop-post-image{
      background: #253529;
  }
  .post-desc{
     /* border:1px solid #f2f2f2;  */
     border-top: 0;
     padding:30px 0 20px 0 ;
  }
  .js-post-desc{
    background: wheat;

  }
  .java-post-desc{
    background:#c0c0c0;
  }
  .git-post-desc{
      background: #dcd0ba;
  }
  .oop-post-desc{
    background: #b5e2ff;

  }
  
  .dimmed{
      color: #696969;;
  }
  
  h2,p{
      padding:0 5px 10px 20px;
  }
  .postcard-wrapper h2{
    font-family: 'Open Sans', sans-serif;
      letter-spacing: 0.03em;
      font-size: 2em;
      
  }
  .postcard-wrapper p{
    font-size: 1.3em;
    padding-bottom: 20px;
  }
  .color{
      color:red;
  }
  /*For tablets*/
  @media only screen and (min-width:600px){
      .postcard-wrapper{
          width:60%;
         
      }
  }
  
  /*For desktops*/
  @media only screen and (min-width:769px){
     .postcard-wrapper{
          width: 50%;
          
      }
     
   
  }
  /*For extra large desktops*/
  @media only screen and (min-width:1400px){
      .postcard-wrapper{
          width: 40%;
      } 
  }
  