*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix{
    overflow: auto;
}
.image{
    max-width:100%;
    margin-top: 30px;
    margin-bottom: 30px;
    
}